<!DOCTYPE html>
<html>
<head>
    <title>k8s graph</title>
    <link rel="stylesheet" href="k8s.css">
</head>
<meta charset="utf-8">

<body>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <p>
        <input type="checkbox" onclick="toggleStickyObjects()">
        <span>Sticky objects</span>
    </p>
    <p>
        <input type="checkbox" onclick="toggleTextVisibility()" checked="true">
        <span>Text visible</span>
    </p>
    <p>
        <span>Namespace</span>
        <select id="namespaces" onchange="changeNamespace(this.value)">
            {{#each namespaces}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </p>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
<svg id="wrapper" width="100%" height="98%"></svg>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/d3.v4.min.js"></script>
<script type="text/javascript" src="/k8s.js"></script>

</body>
</html>