html, body {
    height: 100%;
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
}

div.tooltip {
    position: absolute;
    text-align: left;
    padding: 4px;
    background: ivory;
    border-radius: 8px;
    pointer-events: none;
}

.pulse {
    animation: pulse 0.5s infinite;
}

@keyframes pulse {
    0% {
        stroke: black;
    }
    50% {
        stroke: #ff1931;
        stroke-width: 15;
    }
    100% {
        stroke: black;
    }
}

.notReady {
    animation: notReady 0.5s infinite;
}

@keyframes notReady {
    0% {
        stroke: black;
    }
    50% {
        stroke: #1e67ff;
        stroke-width: 15;
    }
    100% {
        stroke: black;
    }
}

.start {
    animation: start 2s infinite;
}
@keyframes start {
    0% {
        stroke: black;
        stroke-opacity: 0;
        opacity: 0.5;
    }
    100% {
        stroke: #3fff47;
        stroke-width: 30;
        stroke-opacity: 1;
        opacity: 1;
    }
}

.delete {
    animation: delete 2s infinite ease-in-out;
}
@keyframes delete {
    0% {
        stroke: #1e67ff;
        stroke-width: 30;
        stroke-opacity: 1;
        opacity: 1;
    }
    100% {
        stroke: #1e67ff;
        stroke-opacity: 0.5;
        opacity: 0.5;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.sidenav p, .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
    transition: 0.4s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}